<%= form_with(model: journal) do |form| %>
  <% if journal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% journal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :journal_name, style: "display: block" %>
    <%= form.text_field :journal_name %>
  </div>

  <div>
    <%= form.label :journal_link, style: "display: block" %>
    <%= form.text_field :journal_link %>
  </div>

  <div>
    <%= form.label :read, style: "display: block" %>
    <%= form.check_box :read %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
